{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
    },
    "globals": {
        "react": true
    },
    "ecmaFeatures": {
        "jsx": true
    },
    "plugins": ["react"]
}
